.inforFriend{
  font-size: 10px;
  font-family: Arial;
}
#nav{
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
#card-headfl{
  background-color: #2e8bfa;
  background-image: linear-gradient(90deg, #2e8bfa 0%, #03caf8 100%);

}

#card-headmk{
  background-color: #00a4e9;
  background-image: linear-gradient(250deg, #00a4e9 0%, #03dbf8 100%);

}

#card-headfr{
  background-color: #00a4e9;
  background-image: linear-gradient(90deg, #00a4e9 0%, #03f89d 100%);

}

#card-headrr{
  background-color: #15ff66;
  background-image: linear-gradient(90deg, #15ff66 0%, #03f89d 100%);

}

/*.content{*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  background-color: #a7fffe;*/
/*  background-image: linear-gradient(302deg, #a7fffe 0%, #ffffc6 50%, #b7fbff 100%);*/
/*}*/

:host {
  background-color: #a7fffe;
  background-image: linear-gradient(302deg, #a7fffe 0%, #ffffc6 50%, #b7fbff 100%);
}




