<div class="content">
  <nav class="navbar navbar-dark bg-primary" id="nav">
    <a routerLink="/index/newfeeds" class="navbar-brand">MarkZ</a>
    <form class="form-inline">
      <div class="input-group">
        <input type="text" class="form-control border-dark " aria-label="Recipient's username"
               aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button" id="button-addon2">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>
  </nav>

  <div class="container-fluid gedf-wrapper mt-5">
    <div class="row">
      <div class="col-md-3">

        <!--        tao group-->
        <div class="card">
          <form (ngSubmit)="onSubmit()">
            <div class="card-header" id="card-headfl">
              <span><i class="fas fa-users"></i></span> Create Group
              <div class="pt-1 mb-3 row">
                <label class="col-auto col-form-label">Name:</label>
                <div class="col-auto">
                  <input type="text" class="form-control" [(ngModel)]="newClub.name" name="name">
                </div>
              </div>
              <div class="pt-1 mb-3 row">
                <label class="col-auto col-form-label">Detail:</label>
                <div class="col-auto">
                  <input type="text" class="form-control" [(ngModel)]="newClub.detail" name="detail">
                </div>
              </div>
              <div class="pt-1 mb-3 row">
                <label class="col-auto col-form-label">Permission:</label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="permissionx" id="inlineRadio1"
                         value="1" [(ngModel)]="permissionx">
                  <label class="form-check-label" for="inlineRadio1">Public</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="permissionx" id="inlineRadio2"
                         value="2" [(ngModel)]="permissionx">
                  <label class="form-check-label" for="inlineRadio2">Private</label>
                </div>
              </div>
              <div class="pt-1 mb-3 row">
                <div class="col-auto">
                  <button class="btn btn-success pl-2" type="submit">Create</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!--        het tao group-->
        <!--        group user tao-->
        <div class="pt-2">
          <div class="card">
            <div class="card-header">
              <span><i class="fas fa-users"></i></span> Your Group
            </div>
            <ul class="list-group list-group-flush mb-2 shadow" *ngFor="let c of listClubByUserCreate">
              <li class="list-group-item">
                <div class="row">
                  <div class="ml-2">
                    <span style="font-size: large;font-weight: bold"> {{c.name}}</span>
                    <div>
                      <small class="inforFriend">Member: {{c.members!.length}}</small>
                    </div>
                  </div>
                  <div class="ml-auto">
          <span><button type="button" class="btn btn-sm btn-danger"
                        (click)="deleteClub(user.username,c.id)">Delete Club</button></span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!--        het gr user tao-->
      </div>
      <!--        gr chua join-->
      <div class="col-md-6">
        <div class="card">
          <div class="card-header" id="card-headmk">
            <span><i class="fas fa-users"></i></span> Group
          </div>
          <ul class="list-group list-group-flush mb-2 shadow" *ngFor="let c of listClubNotJoinedYet">
            <li class="list-group-item">
              <div class="row">
                <div class="ml-2">
                  <span style="font-size: large;font-weight: bold"> {{c.name}}</span>
                  <div>
                    <small class="inforFriend">Member: {{c.members!.length}}</small>
                  </div>
                </div>
                <div class="ml-auto">
          <span><button type="button" class="btn btn-sm btn-primary"
                        (click)="joinClub()">Join Club</button></span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!--       het gr chua join-->
      <!--       gr request-->
      <div class="col-md-3">
        <div class="card">
          <div class="card-header" id="card-headrr">
            <span><i class="fas fa-users"></i></span> Group Sending Request <i class="fas fa-arrow-right"></i>
          </div>
        </div>
      </div>
      <!--       het gr request-->

    </div>
  </div>
</div>

