body {
  background-color: #eeeeee;
}

.h7 {
  font-size: 0.8rem;
  /*font-size: smaller;*/
}

.gedf-wrapper {
  margin-top: 0.97rem;
}

@media (min-width: 992px) {
  .gedf-main {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .gedf-card {
    margin-bottom: 2.77rem;
  }
}


/**Reset Bootstrap*/
.dropdown-toggle::after {
  content: none;
  display: none;
}

.chat {
  width: 490px;
  background: linear-gradient(
    194deg
    , #b54a3f, rgb(0 0 0));
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
  position: fixed;
  bottom: 0;
  right: 25%;
}

.chat .chat-header {
  padding: 20px;
  border-bottom: 2px solid white;
}

.chat .chat-header img {
  float: left;
}

.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}

.chat-about {
  padding-top: 12px;
  font-size: large;
  font-family: sans-serif;
  color: aqua;
  text-transform: capitalize;
}

.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}

.chat .chat-header .chat-num-messages {
  color: #92959E;
}

.chat .chat-header .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 20px;
  margin-top: 12px;
}

ul {
  list-style-type: none;
}

.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 300px;
}

.chat .chat-history .message-data {
  margin-bottom: 15px;
}

.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}

.chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}

.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86BB71;
  border-width: 10px;
  margin-left: -10px;
}

.chat .chat-history .my-message {
  background: #86BB71;
}

.chat .chat-history .other-message {
  background: #94C2ED;
}

.chat .chat-history .other-message:after {
  border-bottom-color: #94C2ED;
  left: 93%;
}

.chat .chat-message {
  padding: 30px;
}

.chat .chat-message textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}

.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}

.chat .chat-message #sendBtn {
  float: right;
  color: #94C2ED;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #F2F5F8;
}

.chat .chat-message #sendBtn:hover {
  color: #75b1e8;
}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #86BB71;
}

.offline {
  color: #E38968;
}

.me {
  color: #94C2ED;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 5px;
}
.chat-message-me-frame {
  background-color: greenyellow;
  border-radius: 20px;
  float: right;
}
.chat-message-friend-frame {
  background-color: #75b1e8;
  border-radius: 20px;
  float: left;
}
#message-to-send{
  border-radius: 20px;
  width: 100%;
  font-size: larger;
  height: 50px;
  outline: none;
  border-color: cornflowerblue;
}
#closeChat{
  position: absolute;
  left: 92%;
  top: 0;
}


/*Friend*/
#avatar-friend{
  width: 40px;
  height: 40px;
  border-radius: 50%
}
#avatar-friend:hover {
  cursor: pointer;
}
#friend-name {
  font-family: "Times New Roman";
  font-size: 150%;
  font-weight: bolder;
}
#friend-name:hover {
  cursor: pointer;
  color: blueviolet;
}
#card-headmk {
  font-size: 200%;
  font-weight: bold;
  color: #2e8bfa;
}
.friend-list {
  overflow-y: scroll;
  height: 800px;
  border-radius: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0;
  background: linear-gradient(
    45deg
    , #4d28a7bf, transparent);
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.15),0 0 0 6px rgba(0, 0, 0, 0.1);
}
.friend-detail {
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
}
.friend-detail:hover {
  /*cursor: pointer;*/
  background-color: greenyellow;
}

.cardbox-comments{
  padding: 10px !important;
  font-size: medium;
  width: 100%;
  height: 100%;
}
.cardbox-comments img{
  font-size: large;
  margin-top: 1px;
  margin-right: 10px;
  position: relative;
  text-align: center;
  width: 40px;
  height: 40px;
}
.cardbox-comments .comment-body {
  padding-top: 10px;
  overflow: auto;
  font-size: large;
}
.search {
  position: relative;

  border: 2px solid #f4f4f4;
  width: 100%;
  overflow: hidden;
}
.search input[type="text"] {
  background-color: #fff;
  line-height: 10px;
  padding: 15px 60px 20px 10px;
  border: none;
  border-radius: 4px;
  width: 750px;
  font-family: 'Rokkitt', serif;
  font-size: 14px;
  color: #8d8d8d;
  height: inherit;
  font-weight: 700;
}
.search button {
  position: absolute;
  right: 0;
  top: 0px;
  border: none;
  background-color: transparent;
  color: #bbbbbb;
  padding: 15px 25px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.search button i {
  font-size: 20px;
  line-height: 30px;
  display: block;
}

.card gedf-card{
  padding-bottom: 20px;
  padding-top: 20px;
}

.likes{
  color: black;
  padding: unset;
}
.dislikes{
  color: deepskyblue;
  text-decoration: deepskyblue;
  padding: unset;
}

.black2{
  color: black;
}

.blue2{
  color: deepskyblue;
}
.align-items-center{
  align-items: center;
}
.float-left{
  float: left;
  align-items: center;
}
.float-right{
  float: right;
  align-items: center;
}

.dislikes .blue2 fa fa-gittip{
  float: right;
  align-items: center;
}

.content-2{
  word-break: break-all;
}

.comment-count{
  /*position: relative;*/
  /*align-self: center;*/
  /*text-align: center;*/
}


.comment-count p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-self: center;
  text-align: center;
}

.comment-avatar {
  text-align: center;
}


#comment-box{
  padding-left: 60px;
}

/*hieu*/
.post-avatar:hover {
  cursor: pointer;
}
.post-name {
  color: darkblue;
}
.post-name:hover {
  cursor: pointer;
  color: greenyellow;
}
.h7 {
  font-size: 0.8rem;
}

.content-post {
  padding-top: 0.2rem;
  padding-left: 0.5rem;
  font-size: large;
}
.gedf-card{
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px rgb(15 43 245 / 21%);
  padding-bottom: 10px;
}
.gedf-wrapper {
  margin-top: 0.97rem;
}

@media (min-width: 992px) {
  .gedf-main {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .gedf-card {
    margin-bottom: 2.77rem;
  }
}
.comment-h {
  border-radius: 20px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  /*display: block;*/
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  width: 100%;
}
.comment-h:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.user-comment {
  font-size: large
}
.user-comment:hover {
  cursor: pointer;
}
.header-edit{
  font-size: 1.3rem;
  padding-top: 10px;
}

.logo{
  font-size: 60px;
  color: hotpink;
  font-weight: bold;
  text-shadow: 0px 0px 20px #2899a7;
}
.logo:hover {
  color: #b8daff;
}
.navbar-top{
  box-shadow: 0px -1px 4px 4px rgb(47 39 210 / 19%);
  background: currentColor
}
.icon-navbar{
  font-size: 20px;
  margin-left: 10px;
  padding: 10px 5px 0 5px;
  color: #d30000;
  border: 1px solid darkviolet;
  border-radius: 30px;
  background: aliceblue;
}
.icon-navbar:hover{
  cursor: pointer;
  background-color: blueviolet;
}

.user-navbar {
  font-family: "Times New Roman";
  font-size: 150%;
  font-weight: bolder;
  border: 1px solid darkviolet;
  border-radius: 30px;
  background: aliceblue;
}
.user-navbar:hover {
  cursor: pointer;
  background-color: blueviolet;
}
.user-name-navbar{
  font-size: x-small;
  margin-left: 20px;
  color: blue;
}

#avatar-friend, #avatar-user-navbar{
  width: 40px;
  height: 40px;
  border-radius: 50%
}

.left-sidebar {
  font-size: large;
  font-weight: bold;
}
.border-left-SB {
  border-top: none;
  border-bottom: none;
}






