
<div class="container mt-5">
  <h1 class="text-capitalize text-primary">Create new user</h1>
  <div class="d-block w-50 m-auto">
    <form name="form" class="form-group" (ngSubmit)="f.form.valid && saveUser()" #f="ngForm" novalidate>
      <!--  <div class="container">-->

      <div class="form-group">
        <label for="username">Username<i class="text-danger ml-1">*</i></label>
        <input type="text" class="form-control" name="username" id="username" [(ngModel)]="form.username" #username="ngModel" required="required">
      </div>
      <div *ngIf="f.submitted && username.invalid">
        <div *ngIf="username.errors?.required" class="text-danger">Username is required</div>
      </div>

      <div class="form-group">
        <label for="password">Password <i class="text-danger ml-1">*</i></label>
        <input type="password" class="form-control" name="password" id="password" [(ngModel)]="form.password" #password ="ngModel" required="required" minlength="6">
      </div>
      <div *ngIf="f.submitted && password.invalid">
        <div *ngIf="password.errors?.required" class="text-danger">Password is required</div>
        <div *ngIf="password.errors?.minlength" class="text-danger">Password at least 6 characters</div>
      </div>

      <div class="form-group">
        <label for="firstName">First-name<i class="text-danger ml-1">*</i></label>
        <input type="text" class="form-control" name="firstName" id="firstName" [(ngModel)]="form.firstName" #firstName="ngModel" required="required">
      </div>
      <div *ngIf="f.submitted && firstName.invalid">
        <div *ngIf="username.errors?.required" class="text-danger">first name is required</div>
      </div>

      <div class="form-group">
        <label for="lastName">Last-name<i class="text-danger ml-1">*</i></label>
        <input type="text" class="form-control" name="lastName" id="lastName" [(ngModel)]="form.lastName" #lastName="ngModel" required="required">
      </div>
      <div *ngIf="f.submitted && lastName.invalid">
        <div *ngIf="username.errors?.required" class="text-danger">Last-name is required</div>
      </div>

      <div class="form-group">
        <label for="email">Email <i class="text-danger ml-1">*</i></label>
        <input type="text" class="form-control" name="email" id="email" [(ngModel)]="form.email" #email ="ngModel" required="required" email="email">
      </div>
      <div *ngIf="f.submitted && email.invalid">
        <div *ngIf="email.errors?.required" class="text-danger">Email is required</div>
        <div *ngIf="email.errors?.email" class="text-danger">Email must be a valid Email</div>
      </div>
      <div class="form-group ">
        <label for="avatar">Avatar</label>
        <input type="text" class="form-control" name="avatar" id="avatar" [(ngModel)]="form.avatar" #avatar ="ngModel">
      </div>
      <div>
        Gender:
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="male" id="male" [(ngModel)]="form.gender" value="Male" #gender ="ngModel">
          <label class="form-check-label" for="male">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="female" id="female" [(ngModel)]="form.gender" value="Female" #gender ="ngModel">
          <label class="form-check-label" for="female">Female</label>
        </div>
      </div>
      <br>
      <div class="form-group ">
        <label for="address">Address</label>
        <input type="text" class="form-control" name="address" id="address" [(ngModel)]="form.address" #address ="ngModel">
      </div>
      <div class="form-group ">
        <label for="phone">Phone Number</label>
        <input type="text" class="form-control" name="phone" id="phone" [(ngModel)]="form.phone" #phone ="ngModel">
      </div>
      <div class="form-group ">
        <label for="detail">Detail</label>
        <textarea type="text" class="form-control" name="detail" id="detail" [(ngModel)]="form.detail" #detail ="ngModel" cols="20" rows="5"></textarea>
      </div>
      <div class="form-group ">
        <label for="dateOfBirth">Date of birth</label>
        <input type="text" bsDatepicker autocomplete="OFF" class="form-control" name="dateOfBirth" id="dateOfBirth" [(ngModel)]="form.dateOfBirth" #dob ="ngModel">
      </div>
      <div class="form-group">
        <label for="roles">Roles <i class="text-danger ml-1">*</i></label>
        <select class="form-control" id="roles" name="roles" [(ngModel)]="form.roles" #roles="ngModel" required="required">
          <option selected>user</option>
          <option>admin</option>
        </select>
      </div>
      <div *ngIf="f.submitted && roles.invalid">
        <div *ngIf="username.errors?.required" class="text-danger">Role is required</div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success">Create</button>
        <button type="button" routerLink="/admin/exam" class="btn btn-warning ml-2">Back</button>
        <div *ngIf="f.submitted && isCreateFailed" class="alert alert-danger" style="max-width: 300px">
          Create failed
        </div>
      </div>
      <!--  </div>-->
    </form>
  </div>
</div>
