<!--<app-navbar></app-navbar>-->
<!--navbar-->
<nav class="navbar navbar-light mb-1 border navbar-top">
  <a href="/index/newfeeds" class="navbar-brand logo"> <span style="color: #2e8bfa">♔</span> 𝕄𝕒𝕣𝕜ℤ</a>
<!--  <form class="form-inline">-->
<!--    <div class="input-group">-->
<!--      <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">-->
<!--      <div class="input-group-append">-->
<!--        <button class="btn btn-outline-primary" type="button" id="button-addon2">-->
<!--          <i class="fa fa-search"></i>-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->
  <!--notification-->
  <ng-container >
    <div class="d-inline-flex">
      <div class="d-inline-flex user-navbar mr-2" (click)="goToPersonal(username)" *ngIf="user">
        <div>
            <span><img src="{{user.avatar}}" alt="" class="img-thumbnail" id="avatar-user-navbar"
            ></span>
        </div>
        <div class="ml-1 mt-2 mr-1 text-capitalize">
          <span id="user-name-navbar" > {{username}}</span>
        </div>
      </div>
      <div (click)="clearPostNotification()">
        <a class="btn btn-primary" data-toggle="collapse" href="#notification" role="button" aria-expanded="false"
           aria-controls="collapseExample" >
          <i class="fa fa-bell-o" aria-hidden="true"><span style="font-weight: bold; color: red"
               *ngIf="totalPostNotification!=0">{{totalPostNotification}}</span> Notifications</i>
        </a>
      </div>
      <a class="icon-navbar" role="button" aria-expanded="false" (click)="logout()">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
      </a>
    </div>
<!--    <div (click)="clearPostNotification()">-->
<!--      <a class="btn btn-primary" data-toggle="collapse" href="#notification" role="button" aria-expanded="false"-->
<!--         aria-controls="collapseExample" >-->
<!--        <i class="fa fa-bell-o" aria-hidden="true" > {{totalPostNotification}} Notifications</i>-->
<!--      </a>-->
<!--    </div>-->
  </ng-container>

  <div class="collapse" id="notification">
    <!--  <div class="card card-body">-->
    <h1 class="card-title text-primary" style="padding: 10px;margin-bottom: 0">Notifications</h1>
    <hr style="margin-top: 0">
    <div *ngIf="postNotiList.length!=0">
      <div class="w-100" *ngFor="let n of postNotiList">
        <div class="d-flex flex-row notificationNavbar">
          <i class="fa fa-bell-o" height="35" width="35"></i>
          <div class="d-flex flex-column justify-content-start ml-2">
          <span
            class="card-text" style="color: mediumblue">{{n.userSender.firstName}} {{n.userSender.lastName}} created New Post. Check it in NewFeeds !
          </span>
          </div>
        </div>

      </div>
    </div>

    <!--  </div>-->
  </div>
</nav>

<!--navbar-end-->



<div class="container-fluid gedf-wrapper">
  <div class="row">

    <!--    LEFT SIDEBAR-->
    <div class="col-md-3 left-sidebar">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
           routerLink="/index/newfeeds">Home</a>
        <a class="list-group-item list-group-item-action" id="personal-page" data-toggle="list"
           routerLink="/index/personal/{{username}}">Personal Page</a>
        <a class="list-group-item list-group-item-action" id="list-friend-list" data-toggle="list" routerLink="/friend">Friend</a>
        <a class="list-group-item list-group-item-action" id="settings" data-toggle="list" routerLink="/index/settings">Settings</a>
        <a class="list-group-item list-group-item-action" id="group" data-toggle="list" routerLink="/group">Group</a>
      </div>
    </div>
    <!--  END  LEFT SIDEBAR-->

    <!--    CENTER-->
    <div class="col-md-6 gedf-main status-content">
      <router-outlet></router-outlet>
    </div>
    <!--  END  CENTER-->

    <!--    right sidebar friend-list-->
    <div class="col-md-3 friend-list">
      <ul style="padding: 5px; margin-bottom: 5px">
        <li id="card-headmk">
          <span><i class="fas fa-users"></i></span> Friends
        </li>
      </ul>
      <div class="friend-detail" *ngFor="let f of friends">
        <div class="row">
          <div>
            <span><img src="{{f.avatar}}" alt="" class="img-thumbnail" id="avatar-friend"
                       (click)="goToPersonal(f.username)"></span>
          </div>
          <div class="ml-2 mt-2" (click)="getUserChatToAndDeleteNotification(f, f.id)">
            <span id="friend-name" class="text-capitalize"> {{f.username }}
                <ng-container *ngIf="f.totalNotification != 0"  >
                    <p class="bi bi-chat-fill">
                      <span class="badge badge-danger" > {{f.totalNotification}} new message
                      </span>
                    </p>
                </ng-container>
            </span>
          </div>
        </div>
      </div>
    </div>
    <!--  END  right sidebar-->

  </div>
</div>

<!--chat form-->
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="chatForm">
      <div class="content">
        <div class="chat">
          <div class="chat-header clearfix" *ngIf="friend">
            <img class="img-thumbnail" alt="avatar" height="55px"
                 src="{{friend.avatar}}"
                 width="55px"/>
            <div class="chat-about">
              <div class="chat-with" id="selectedUserId">
                {{friend.username}}
                <button type="button" id="closeChat" class="btn btn-danger" (click)="closeChat()">X</button>
              </div>
            </div>
            <i class="fa fa-star"></i>
          </div> <!-- end chat-header -->

          <div class="chat-history" id="chat-history">
            <div *ngIf="chatMessages">
              <div *ngFor="let message of chatMessages">
                <div *ngIf="message.user_sender_id == user.id">
                  <div class="clearfix">
                    <div class="chat-message-me-frame clearfix p-2">
                      <div class="d-flex flex-row">
                        <a href="#">
                          <img class="rounded-circle" src="{{message.sender.avatar}}" width="40">
                        </a>
                        <div class="d-flex flex-column justify-content-start ml-2" *ngIf="message">
                          <a href="#">
                            <span class="d-block font-weight-bold name text-capitalize">{{message.sender.username}}</span>
                          </a>
                          <span class="date text-black-50 createPost">{{message.content}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="message.user_receiver_id == user.id">
                  <div class="clearfix">
                    <div class="chat-message-friend-frame  p-2">
                      <div class="d-flex flex-row">
                        <a href="#">
                          <img class="rounded-circle" src="{{message.sender.avatar}}" width="40">
                        </a>
                        <div class="d-flex flex-column justify-content-start ml-2" *ngIf="message">
                          <a>
                            <span class="d-block font-weight-bold name text-capitalize">{{message.sender.username}}</span>
                          </a>
                          <span class="date text-black-50 createPost">{{message.content}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- end chat-history -->
          <div class="chat-message clearfix">
            <input id="message-to-send" name="message-to-send" placeholder="Type your message" [(ngModel)]="input"
                   (keydown.enter)="sendMessage()">
          </div> <!-- end chat-message -->
        </div> <!-- end chat -->
      </div>
    </div>
  </div>
</div>
