.cardbox-comments{
  padding: 10px !important;
  font-size: medium;
  width: 100%;
  height: 100%;
}
.cardbox-comments img{
  font-size: large;
  margin-top: 1px;
  margin-right: 10px;
  position: relative;
  text-align: center;
  width: 40px;
  height: 40px;
}
.cardbox-comments .comment-body {
  padding-top: 10px;
  overflow: auto;
  font-size: large;
}
.search {
  position: relative;

  border: 2px solid #f4f4f4;
  width: 100%;
  overflow: hidden;
}
.search input[type="text"] {
  background-color: #fff;
  line-height: 10px;
  padding: 15px 60px 20px 10px;
  border: none;
  border-radius: 4px;
  width: 750px;
  font-family: 'Rokkitt', serif;
  font-size: 14px;
  color: #8d8d8d;
  height: inherit;
  font-weight: 700;
}
.search button {
  position: absolute;
  right: 0;
  top: 0px;
  border: none;
  background-color: transparent;
  color: #bbbbbb;
  padding: 15px 25px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.search button i {
  font-size: 20px;
  line-height: 30px;
  display: block;
}

.card gedf-card{
  padding-bottom: 20px;
  padding-top: 20px;
}

.likes{
  color: black;
  padding: unset;
}
.dislikes{
  color: deepskyblue;
  text-decoration: deepskyblue;
  padding: unset;
}

.black2{
  color: black;
}

.blue2{
  color: deepskyblue;
}
.align-items-center{
  align-items: center;
}
.float-left{
  float: left;
  align-items: center;
}
.float-right{
  float: right;
  align-items: center;
}

.dislikes .blue2 fa fa-gittip{
  float: right;
  align-items: center;
}

.content-2{
  word-break: break-all;
}

.comment-count{
  /*position: relative;*/
  /*align-self: center;*/
  /*text-align: center;*/
}


.comment-count p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-self: center;
  text-align: center;
}

.comment-avatar {
  text-align: center;
}


#comment-box{
  padding-left: 60px;
}

/*hieu*/
.post-avatar:hover {
  cursor: pointer;
}
.post-name {
  color: darkblue;
}
.post-name:hover {
  cursor: pointer;
  color: greenyellow;
}
.h7 {
  font-size: 0.8rem;
}

.content-post {
  padding-top: 0.2rem;
  padding-left: 0.5rem;
  font-size: large;
}
.gedf-card{
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px rgb(15 43 245 / 21%);
  padding-bottom: 10px;
}
.gedf-wrapper {
  margin-top: 0.97rem;
}

@media (min-width: 992px) {
  .gedf-main {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .gedf-card {
    margin-bottom: 2.77rem;
  }
}
.comment-h {
  border-radius: 20px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  /*display: block;*/
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  width: 100%;
}
.comment-h:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.user-comment {
  font-size: large
}
.user-comment:hover {
  cursor: pointer;
}
.header-edit{
  font-size: 1.3rem;
  padding-top: 10px;
}



