/*notification*/
#notification{
  overflow: auto;
  height: 1000%;
  border: 1px solid black;
  border-radius: 10px;
  position: absolute;
  top:70px;
  width: 25%;
  background: radial-gradient(#f5ff07, #e83e3e);
  right: 0;
  padding: 0;
  box-shadow: -1px 1px 4px 4px rgba(47 39 210 / 19%);
  font-size: large;
  font-family: sans-serif;
  z-index: 1;
}
.notificationNavbar {
  padding: 10px;
}
.notificationNavbar:hover {
  background: #94C2ED;
  cursor: pointer;
}

