/*notification*/
#notification{
  overflow: auto;
  height: 1000%;
  border: 1px solid black;
  border-radius: 10px;
  position: absolute;
  top:70px;
  width: 25%;
  background: radial-gradient(#f5ff07, #e83e3e);
  right: 0;
  padding: 0;
  box-shadow: -1px 1px 4px 4px rgba(47 39 210 / 19%);
  font-size: large;
  font-family: sans-serif;
  z-index: 1;
}
.notificationNavbar {
  padding: 10px;
}
.notificationNavbar:hover {
  background: #94C2ED;
  cursor: pointer;
}
.logo{
  font-size: 60px;
  color: hotpink;
  font-weight: bold;
  text-shadow: 0px 0px 20px #2899a7;
}
.logo:hover {
  color: #b8daff;
}
.navbar-top{
  box-shadow: 0px -1px 4px 4px rgb(47 39 210 / 19%);
  /*background: repeating-linear-gradient(*/
  /*  188deg*/
  /*  , #fff709, transparent 100px);*/
}
.icon-navbar{
  font-size: 20px;
  margin-left: 20px;
  padding: 5px 5px 0 5px;
  color: #d30000;
  border: 1px solid darkviolet;
  border-radius: 30px;
  background: aliceblue;
}
.icon-navbar:hover{
  cursor: pointer;
  background-color: blueviolet;
}

#avatar-friend{
  width: 40px;
  height: 40px;
  border-radius: 50%
}
#avatar-friend:hover {
  cursor: pointer;
}
.user-navbar {
  font-family: "Times New Roman";
  font-size: 150%;
  font-weight: bolder;
  border: 1px solid darkviolet;
  border-radius: 30px;
  background: aliceblue;
}
.user-navbar:hover {
  cursor: pointer;
  background-color: blueviolet;
}
.user-name-navbar{
  font-size: x-small;
  margin-left: 20px;
  color: blue;
}

